@font-face {
    font-family: 'Varela Round';
    src: url(../fonts/VarelaRound-Regular.ttf);
}

body, html {
    font-family: 'Helvetica Neue', helvetica, arial;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
