@font-face {
  font-family: 'Varela Round';
  src: url(../fonts/VarelaRound-Regular.ttf);
}
.trix-editor-container {
  padding: 5rem 6rem 6rem;
}

.trix-document-title {
  border: 0;
  resize: 0;
  width: 100%;
  height: 35px;
  overflow-y: hidden;
  resize: none;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Varela Round', 'Helvetica Neue', helvetica, arial;
  line-height: 1.2;
  margin-bottom: .67em;
  outline: 0;
}

trix-toolbar {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  height: 3.8rem;
  margin: 0 -6rem;
  padding: 0 6rem;
}
trix-toolbar .button_groups .button_group button, trix-toolbar .button_groups .button_group {
  border: 0;
}
trix-toolbar .button_groups .button_group.text_tools {
  border-right: 1px solid #e5e5e5;
}
trix-toolbar .button_groups .button_group.history_tools {
  float: right;
}
trix-toolbar .button_groups .button_group {
  margin: 0;
  border-radius: 0;
}
trix-toolbar .button_groups .button_group button {
  float: left;
  height: 3.6rem;
  width: 3.6rem;
  padding: 0;
  border: 0;
}

.trix-content {
  padding-top: 1rem;
  min-height: 50rem;
  border: 0;
  line-height: 1.5;
  font-size: 17px;
  font-family: 'Helvetica Neue', helvetica, arial;
}
