@font-face {
  font-family: 'Varela Round';
  src: url(../fonts/VarelaRound-Regular.ttf);
}
body, html {
  font-family: 'Helvetica Neue', helvetica, arial;
  -webkit-font-smoothing: antialiased;
}

article {
  margin-left: 240px;
}

.trix-editor-container {
  padding: 3rem 20px 6rem;
}

.trix-document-title {
  border: 0;
  resize: 0;
  width: 100%;
  height: 37px;
  overflow-y: hidden;
  resize: none;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Varela Round', 'Helvetica Neue', helvetica, arial;
  line-height: 1.2;
  margin-bottom: .67em;
  outline: 0;
}

trix-toolbar {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  height: 38px;
  min-width: 395px;
  margin: 0 -20px;
  padding: 0 15px;
  z-index: 1;
}
trix-toolbar .button_groups .button_group button, trix-toolbar .button_groups .button_group {
  border: 0;
}
trix-toolbar .button_groups .button_group.text_tools {
  border-right: 1px solid #e5e5e5;
}
trix-toolbar .button_groups .button_group.history_tools {
  float: right;
}
trix-toolbar .button_groups .button_group {
  margin: 0;
  border-radius: 0;
}
trix-toolbar .button_groups .button_group button {
  float: left;
  height: 3.6rem;
  width: 3.6rem;
  padding: 0;
  border: 0;
}

trix-toolbar.sticky-trix-toolbar button_groups {
  padding-top: 1px;
}

.unsaved-indicator {
  color: #F96058;
  position: fixed;
  top: 3px;
  right: 15px;
  z-index: 3;
  font-size: 30px;
}

.trix-content {
  padding-top: 2rem;
  min-height: 50rem;
  border: 0;
  line-height: 1.5;
  font-size: 17px;
  font-family: 'Helvetica Neue', helvetica, arial;
}
.trix-content ul, .trix-content ol {
  margin-left: .67rem;
}

trix-toolbar {
  background: white;
}

@media (max-width: 727px) {
  .button_groups .button_group.history_tools {
    display: none;
  }
}
.sidebar {
  border-right: 1px solid #e5e5e5;
  position: fixed;
  width: 240px;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 36px;
  background: white;
}
.sidebar .sidebar-item:first-child {
  border-top: 1px solid #e5e5e5;
}

.sidebar-item {
  cursor: pointer;
  padding: 20px;
  width: 100%;
  float: left;
  clear: both;
  border-bottom: 1px solid #e5e5e5;
}
.sidebar-item.active, .sidebar-item:hover {
  background: rgba(221, 221, 221, 0.17);
}

.sidebar-item-title {
  color: #444;
  font-size: 14px;
  margin: 0 0 4px;
}

.sidebar-item-body {
  color: #666;
  font-size: 12px;
  height: 40px;
  overflow: hidden;
  line-height: 18px;
  margin: 0;
}

.sidebar-no-files {
  font-size: 18px;
  color: #ddd;
  text-align: center;
  padding: 60px 0;
  font-weight: bold;
  width: 100%;
}
